.duration-btn {
    background-color: #0000;
    border: 1px solid var(--theme-grey);
    border-radius: 3px;
    color: var(--theme-head-black);
    font-family: var(--theme-primary-font);
    font-size: 15px;
    font-weight: 300;
    line-height: 19.5px;
    margin-bottom: 16px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 9px 8px 7px;
    width: 91px;
}

.button-link {
    display: block;
    margin: 0 auto 20px;
    text-align: center;
    text-decoration: none;
}

.time-picker-box {
    .switch-toggle {
        --width: 260px;
        --height: 45px;
        --offset: 2px;
        --radius: 4px;
        position: relative;
        width: var(--width);
        height: var(--height);
        padding: var(--offset);
        background: rgba(227, 229, 232, 0.5);
        border-radius: var(--radius);
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        font-style: normal;
        border: 1px solid var(--theme-grey);
        margin: 0 auto;
        margin-bottom: 12px;
        margin-top: 12px;
        font-family: var(--theme-primary-font);
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left:37px;
        @media screen and (max-width:767px){
            margin-left:10px;
        }
        input[type="checkbox"] {
            cursor: pointer;
            position: absolute;
            inset: 0;
            appearance: none;
            z-index:3;
            width: 100%;
            height: 100%;

            &:checked {
                +label.switch-toggle-label {
                    &:before {
                        translate: 100% 0;
                    }

                    span {
                        &:nth-child(1) {
                            color: gray;
                        }

                        &:nth-child(2) {
                            color: var(--theme-white);
                        }
                    }
                }
            }

            &+label.switch-toggle-label {
                position: absolute;
                inset: var(--offset, 0);
                padding: 10px 0;
                display: block;
                user-select: none;
                pointer-events: none;
                display: grid;
                gap: 2px;
                grid-auto-flow: column;
                grid-auto-columns: 1fr;
                place-items: center;
                font-family: var(--theme-primary-font);
                font-size: 15px;

                &:before {
                    content: "";
                    position: absolute;
                    width: 50%;
                    inset: 0;
                    color: var(--them-white);
                    background: var(--theme-pink);
                    border-radius: calc(var(--radius) - var(--offset));
                    box-shadow: 0px 10px 20px 0px rgba(16, 39, 68, 0.1);
                    translate: 0 0;
                    transition: translate 250ms cubic-bezier(0.93, 0.26, 0.07, 0.69);
                }

                span {
                    position: relative;
                    transition: 200ms linear;
                    font-family: var(--theme-primary-font);
                    font-size: 15px;

                    &:nth-child(1) {
                        color: #fff;
                    }

                    &:nth-child(2) {
                        color: gray;
                    }
                }
            }
        }
    }
}